target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
JDBCConsoleApp/.settings/org.eclipse.core.resources.prefs
JDBCConsoleApp/.settings/org.eclipse.jdt.apt.core.prefs
JDBCConsoleApp/.settings/org.eclipse.jdt.core.prefs
JDBCConsoleApp/.settings/org.eclipse.m2e.core.prefs
JDBCConsoleApp/.project
JDBCConsoleApp/.classpath
JDBCConsoleApp/.project
JDBCConsoleApp/.classpath
.vscode/settings.json
VaadinJDBCApp/.classpath
VaadinJDBCApp/.project
VaadinJDBCApp/.settings/org.eclipse.core.resources.prefs
VaadinJDBCApp/.settings/org.eclipse.jdt.apt.core.prefs
VaadinJDBCApp/.settings/org.eclipse.jdt.core.prefs
VaadinJDBCApp/.settings/org.eclipse.m2e.core.prefs
VaadinJDBCApp/bin/.settings/org.eclipse.m2e.core.prefs
VaadinJDBCApp/bin/.settings/org.eclipse.jdt.core.prefs
VaadinJDBCApp/bin/.settings/org.eclipse.jdt.apt.core.prefs
VaadinJDBCApp/bin/.settings/org.eclipse.core.resources.prefs
VaadinJDBCApp/bin/.project
VaadinJDBCApp/bin/pom.xml
VaadinJDBCApp/bin/src/main/java/ie/examples/MyUI.class
VaadinJDBCApp/bin/src/main/java/ie/examples/MyUI$MyUIServlet.class
VaadinJDBCApp/bin/src/main/resources/README
VaadinJDBCApp/bin/src/main/webapp/VAADIN/themes/mytheme/addons.scss
VaadinJDBCApp/bin/src/main/webapp/VAADIN/themes/mytheme/favicon.ico
VaadinJDBCApp/bin/src/main/webapp/VAADIN/themes/mytheme/mytheme.scss
VaadinJDBCApp/bin/src/main/webapp/VAADIN/themes/mytheme/styles.css
VaadinJDBCApp/bin/src/main/webapp/VAADIN/themes/mytheme/styles.scss
